<h1>Admin Dashboard</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Total Allocated ($)</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.allocations.sum(:amount) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
